
.list-group-item {
  display: flex;
  align-items: center;
}

.fixed-width {
  min-width: 70px;
}

.custom-checkbox {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.due-date {
  margin-right: 0.5rem;
}
