
.list-group-item {
  display: flex;
  align-items: center;
}

.fixed-width {
  min-width: 70px;
}

.custom-checkbox {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}

.due-date {
  margin-right: 0.5rem;
}

.completed .text-decoration-line-through {
  text-decoration: line-through;
  color: gray;
}

.overdue {
  background-color: #f8d7da !important;
  color: #721c24 !important;
  border-color: #f5c6cb !important;
}
